*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* commod */
.contenitore{
    width: 100%;
}

@media screen and (min-width:992px) {
    .contenitore{
        width: 80%;
        margin: 0 auto;
        max-width: 1100px;
    }
}


img{
    max-width: 100%;
}

.flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}



/* header */
.header{
    background-color: #0084fd;
    width: 100%;
    height: 50px;
    align-content: center;
    margin: 0 auto;
    padding: 1rem;
}


.logo img{
    width: 50%;
}

.lista-header{
    display: none; 
}

.lista-header ul{
    list-style-type: none;
        display: flex;
        gap: 16px;
    
}

.lista-header ul li>a{
    text-decoration: none;
    color: white;
}


.butt-get-starred{
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 3px 5px
   
}

.butt-get-starred>a{
    text-decoration: none;
}

.hamburger-but{
    background-color: #0084fd;
    border: none;
    color: white;
    font-size: 1rem;
}

/* media header */

@media screen and (min-width: 992px) {
    .hamburger-but{
        display: none;
    }
    
    
    .lista-header {
        display: block;
        
    }

    
}
/* /media header */
/* /header */

/* main */
/* sezione hero */


.col{
    width: 80%;
    background-color: #b5ddff;
    border-radius: 10px;
    margin: 20px auto;
    

    /* debug */
    height: 300px;
}

.col:first-child{
    height: 500px;
}

/* media hero */

@media screen and (min-width: 768px) {
    .colonna{
        display: flex;
        flex-wrap: wrap;
        width: 80%;
        margin: 0 auto;
    }
    .col:first-child{
        width: 62%;
    }
    .col{
        width: 30%;
        margin: 20px 10px;
        height: 500px;
    }
}


@media screen and (min-width: 992px) {
    .col{
        height: 300px;
        margin: 20px 4px;
        width: 32%;
    }
    .col:first-child{
        height: 300px;
        width: 65%;
    }
    
}

/* /media hero */
/* /sezione hero */


/* sezione strategia */

#piano-strategia{
    background-color: #9593e6;
    padding: 10px;

    /* debug */
    height: 900px;
}

.cont-strategia{
    width: 80%;
    margin: 0 auto;
}

.strategia{
    background-color: aqua;
    margin: 20px auto;

    /* debug */
    height: 400px;
    border: 1px solid black;
}

.development{
    background-color: aliceblue;
    border-radius: 20px;

     /* debug */
     height: 400px;
     border: 1px solid black;

}

/* media strategia */

@media screen and (min-width:992px) {
    .cont-strategia{
        width: 70%;
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding-top: 50px;

    }
    .development, .strategia{
        width: 35%;
        margin: 0;
    }

    #piano-strategia{
        height: 500px;
    }

    .development{
        margin-top: 2rem;
    }

    .strategia{
        height: 430px;
    }
}

/* /media strategia */
/* /sezione strategia */


/* sezione testimonianza */

.parte-sup-testimonianze{
    text-align: center;
    padding: 10px;
    
}
.parte-sup-testimonianze>h6,h2,p{
    padding: 10px;
}

.card{
    background-color:#9593e6; 
    width: 100%;
    border-radius: 20px;
    margin: 20px auto;
 

    /* debug */
    height: 200px;
}

.colonna-testimonianze{
    width: 80%;
    margin: 0 auto;
}


/* /sezione testimonianza */



/* sezione benefit */

    #benefit{
        background-color:#9593e6; 
        padding: 10px 0;
        width: 100vw;

        /* debug */
        /* height: 800px; */
    }

    .titolo-benefit{
        text-align: center;
        padding: 20px 0;
    }

    .colonna-benefit{
        width: 80%;
        margin: 0 auto;
    }

    .card-benefit{
        width: 100%;
        border-radius: 20px;
        background-color: white;
        margin: 20px auto;

        /* debug */
        height: 200px;
    }

   
    
    /* media benefit */

    @media screen and (min-width:768px) {
        .colonna-benefit{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            width: 80%;

        }
        .card-benefit{
            width: 48%;
            /* margin:10px 10px 5px 5px; */
        }

    }

    @media screen and (min-width: 992px) {
        .card-benefit{
            width: 32.5%;
            margin:2px 0;
           
        }
        .colonna-benefit{
            width: 100%;
            margin: 0 auto;
            justify-content: space-between;
            padding: 0;
        }
    }

/* /media benefit */
/* /sezione benefit */

/* sezione About-Us */

.about-us-sinistra, .about-us-destra {
    width: 50%;
    margin: 0 auto;
    /* debug */
    background-color: #0084fd;
    border: 0.5px solid black;
    height: 300px;
}

.cont-abou {
    width: 80%;
    padding: 10px 0;
    margin: 0 auto;
}


/* /sezione About-Us */

/* <!-- sezione Get-starred --> */
#get{
    background-color: #9593e6;
    padding: 20px 0;
}

.cont-starred{
    text-align: center;
    width: 80%;
    margin: 0 auto;
}

.cont-starred>h6,h4,h3,p,button,div{
    margin-bottom: 20px;
}


/* media sezione get starred */

@media screen and (min-width:768px) {
    .cont-starred{
        width: 70%;
      
    }
}

@media screen and (min-width: 992px){
    .cont-starred{
        width: 35%;
       
    }
}
/* <!-- /sezione Get-starred --> */
/* /media sezione get starred */
/* /main */

/* footer */
.footer{
    background-color: black;
    height: 300px;
   

}
.cont-footer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.cont-footer>p {
    color: white;
    padding-top: 50px;
      
}


@media screen and (min-width:768px) {
    .cont-footer{
        width: 40%;
    }
}

@media screen and (min-width: 992px) {
    .cont-footer{
        width: 20%;
       
    }
}
/* /footer */