*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img{
    max-width: 100%;
}

a{
    text-decoration: none; 
}

body{
    font-family:"PT Sans", sans-serif ;
}

/* contenitore header */

.cont-header{
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
    /* padding: 20px 0; */
}
@media screen and (min-width: 768px) {
    .cont-header{
        width: 90%;
        margin: 0 auto;
}
}

@media screen and (min-width: 992px) {
    .cont-header{
        width: 80%;
    }
}

/* /contenitore header */


/* contenitore main e footer */

.contenitore{
    width: 80%;
    margin: 0 auto;
    max-width: 1100px;
    padding: 20px 0;
}
@media screen and (min-width: 768px) {
    .contenitore{
        width: 90%;
        margin: 0 auto;
}
}

@media screen and (min-width: 992px) {
    .contenitore{
        width: 80%;
    }
}

/* /contenitore main e footer */

.flex{
    display: flex;
}

.justify-content-between{
    justify-content: space-between;
}



/* header */
.header{
    background-color: #0084fd;
    width: 100%;
    height: 50px;
    align-content: center;
    margin: 0 auto;
    padding: 1rem;
    position: fixed;
    z-index: 999;
}


.logo img{
    width: 50%;
}

.lista-header{
    display: none; 
}

.lista-header ul{
    list-style-type: none;
        display: flex;
        gap: 16px;
    
}

.lista-header ul li>a{
    text-decoration: none;
    color: white;
    font-size: 0.8rem;
}


.butt-get-starred{
    background-color: white;
    color: black;
    border-radius: 10px;
    border: none;
    padding: 3px 5px
   
}

.butt-get-starred>a{
    text-decoration: none;
    padding: 10px;
}

.hamburger-but{
    background-color: #0084fd;
    border: none;
    color: white;
    font-size: 1rem;
}

/* media header */

@media screen and (min-width: 992px) {
    .hamburger-but{
        display: none;
    }
    
    
    .lista-header {
        display: block;
        
    }

    
}
/* /media header */
/* /header */

/* main */
/* sezione hero */


.hero {
    padding: 60px 0px 10px 0px;
}

.col{
    background-color: #b5ddff;
    border-radius: 20px;
    margin: 20px auto;
    text-align: left;
    padding: 20px 20px 0 20px;

}


.first-col>h3{
    color: #0084fd;
    padding: 10px 0;
    font-weight: bold;
    font-size: 1.7rem;
}

.first-col>p{
    font-weight: 900;
    color: gray;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.7rem;
}

.btn-col>a {
    color: white;
    font-size: 1.2rem;
    
}

.btn-col{
    background-color: #0084fd;
    border: none;
    border-radius: 10px;
    padding: 7px 40px;
    margin: 20px 0;
}


.h-im {
    padding-top: 10px;
    display: flex;
    
}

.second-col {
    text-align: center;
    padding: 20px 10px;
}

.second-col>i{
    font-size: 7rem;
    color: #0084fd;
}


.second-col>h5{
    color: #0084fd;
    font-size: 1.5rem;
    padding: 10px 0;
}

.second-col>p{
    font-weight: 900;
    color: gray;
    padding-top: 10px;
    padding-bottom: 20px;
    line-height: 1.7rem;
}

/* media hero */

@media screen and (min-width: 768px) {
    .colonna{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    .col:first-child{
        width: 65%;
    }
    .col{
        width: 30%;
        margin: 20px 0;
    
    }

    .first-col>h3{
        font-size: 1.3rem;
    }
    .first-col>p{
       font-size: 0.9rem;
    }

    .second-col>h5{
       
        font-size: 1.3rem;
        
    }
    .second-col>p {
        font-size: 0.9rem;
        

    }
    .h-im{
        width: 50%;
    }
    .second-col>i{
        font-size: 5rem;
    }
}




@media screen and (min-width: 992px) {
    
    .colonna{
        padding-bottom: 55px;
    }
    
    
    .col{
       
        margin: 10px 4px;
        width: 32%;
    }
    .col:first-child{
       
        width: 65%;
        display: flex;
        height: 30%;
        
    }
    .h-im {
        padding-top: 50px;
        width: 80%;
        
    }

    .second-col {
        padding:0;
    }

    .second-col>h5{
       
        font-size: 1rem;
        
    }
    .second-col>p {
        font-size: 0.8rem;
        line-height: 1.2rem;


    }  
}

/* /media hero */
/* /sezione hero */


/* sezione strategia */



#piano-strategia{
    background-color: #9593e6;
    padding-bottom: 53px;

    
}

.cont-strategia{
    width: 80%;
    margin: 0 auto;
}

.strategia{
    margin: 20px auto;
    padding-bottom: 20px;
    
    
  
}

.strategia>h3 {
    font-size: 1.8rem;
    color: white;
    font-weight: 980;
    padding: 40px 0;
}

.strategia>p{
    font-weight: 900;
    color: white;
    line-height: 1.7rem;
}


.development{
    background-color: aliceblue;
    border-radius: 55px;
    text-align: center;
    padding: 10px 10px 20px 10px;

    
}

.development>h3{
    font-size: 1.3rem;
    color:black;
    font-weight: 800;
    padding: 40px 0 20px 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.development>p{
    font-weight: 800;
    color: #524c4c;
    line-height: 1.7rem;
    padding: 0 15px 20px 15px;
    font-style: oblique;
}

.dev-btn{
    background-color:  #9593e6;
    border-radius: 50%;
    border: none;
}

.dev-btn>i{
    font-size:1rem ;
    padding: 15px;
}

/* media strategia */

@media screen and (min-width: 768px){
    .strategia>h3 {
        font-size: 2.5rem;
    }
}



@media screen and (min-width:992px) {
    
    #piano-strategia{
        padding-bottom: 15px;
    
    }
    
    .cont-strategia{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-wrap: wrap;
        padding-top: 50px;
        width: 70%;

    }
    .strategia{
        width: 40%;
        margin: 0;
    }

   

    .development{
        margin-top: 6.5rem;
        margin-left: 2rem;
        width: 45%;
        height: 30%;
        padding: 10px 10px 20px 10px;
    }

    .strategia>h3{
        font-size: 1.2rem;
    }

    .strategia>p{
        font-size: 0.7rem;
       
       
    }

    .development>img{
        width: 50%;
    }

    .development>h3{
        font-size: 1.1rem;
      
    }

     .development>p{
      font-size: 0.8rem;
      font-weight: bold;
      line-height: 1.5rem;
      font-style: oblique;
    

     }

}

/* /media strategia */
/* /sezione strategia */


/* sezione testimonianza */

.parte-sup-testimonianze{
    text-align: center;
    padding: 10px;
    
}

.parte-sup-testimonianze>h6 {
    padding: 10px;
    font-size: 1rem;
    font-weight: 200;
}

.parte-sup-testimonianze>h2 {
    padding: 10px;
    color: #9593e6;
    font-size: 2.2rem;
    font-weight: 900;
}

.parte-sup-testimonianze>p {
    padding: 10px;
    font-weight: 500;
    line-height: 1.9rem;
    font-size: 1.2rem;
    color: #2a2a2a;
}


.card {
    background-color:#9593e6; 
    width: 100%;
    border-radius: 50px;
    margin: 20px auto;
    padding: 20px;
 

    /* debug */
    /* height: 200px; */
}
.foto-testimonianze{
    padding: 20px;
}

.foto-testimonianze>img{
    border-radius: 50%;
    /* height: 230px; */
    object-fit: cover;
    width: 80%;
    aspect-ratio: 1;
}

.colonna-testimonianze {
    margin: 0 auto;
    text-align: center;
}

.descrizione-test>p{
    padding: 10px;
    font-weight: 500;
    line-height: 1.9rem;
    font-size: 1.2rem;
    color: white;
}

.descrizione-test>h4 {
    color: white;
    font-size: 1.5rem;
    padding: 20px 0;
    font-weight: 500;
}

.fa-quote-left{
    font-size: 1.7rem;
    margin-right: 7px;
}

.fa-quote-right{
    font-size: 1.7rem;
    margin-left: 7px;
 
}

/* media testimonianze */

@media screen and (min-width: 768px){
    .card{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
    }

    .foto-testimonianze{
        width: 40%;
    }

    .descrizione-test{
        width: 60%;
        text-align: left;
    }

    .descrizione-test>p{
        font-size: 1rem;
        padding: 10px 10px 10px 0;

}

}

/* /sezione testimonianza */



/* sezione benefit */

    #benefit{
        background-color:#9593e6; 
        padding: 10px 20px 25px 20px;
        width: 100vw;

        
    }

    .titolo-benefit{
        text-align: center;
        padding: 30px 0;
        color: white;
        font-size: 2.2rem;
    }

    .colonna-benefit{
      
        margin: 0 auto;
    }

    .card-benefit{
        width: 100%;
        border-radius: 20px;
        background-color: white;
        margin: 20px auto;
        text-align: start;
        padding: 40px 30px 20px 30px;

        /* debug */
        /* height: 200px; */
    }


    .card-benefit>i{
        font-size: 2rem;
        color: #9593e6;
        padding-right: 5px;
        font-weight: bolder;
    
    }

    .card-benefit>h3{
        color: #9593e6;
        padding: 20px 0;
        font-size: 1.5rem;
    }

    .card-benefit>p{
    padding: 10px 0 25px 0;
    font-weight: 500;
    line-height: 1.9rem;
    font-size: 1.2rem;
    color: gray;
}
    
.benefit-bt{
    background-color: #9593e6;
    border-radius: 20px;
    border: none;
    padding: 7px 40px;
}

.benefit-bt>a {
    color: white;
    font-size: 1.2rem;
    padding: 10px;
}
   
    
    /* media benefit */

    @media screen and (min-width:768px) {
        .colonna-benefit{
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
           

        }
        .card-benefit{
            width: 48%;
            
        }

    }

    @media screen and (min-width: 992px) {
        .card-benefit{
            width: 30%;
            padding: 30px 15px;
           
        }
        .colonna-benefit{
            width: 100%;
            margin: 0 auto;
            justify-content: space-between;
            padding: 0;
        }
    
        .card-benefit>h3{
            font-size: 1.2rem;
        }
    
        .card-benefit>p{
           
            line-height: 1.5rem;
            font-size: 0.9rem;
           
        }
    
    }
/* /media benefit */
/* /sezione benefit */




/* sezione About-Us */

.cont-abou {
    width: 80%;
    padding: 10px 0 55px 0;
    margin: 0 auto;
}

.about-us-sinistra, .about-us-destra {
    margin: 0 auto;
    padding-top: 35px;
    padding-left: 10px;
    padding-right: 10px;

    /* debug */
    /* background-color: #0084fd; */
    /* border: 0.5px solid black; */
    /* height: 300px; */
}

.about-us-sinistra>h3{
    color: #9593e6;
    font-size: 3rem;
    padding: 15px 0;
}

.about-us-sinistra>p{
    padding-bottom: 30px;
    font-weight: 500;
    line-height: 2.5rem;
    font-size: 0.9rem;
    color: black;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.ft-about{
    position: relative;
}


.ft-about>img{
    border-radius: 50%;
    /* height: 230px; */
    object-fit: cover;
    width: 70%;
    aspect-ratio: 1;
}

.ft-about>i{
    color: #9593e6;
    font-size: 4rem;
    position: absolute;
    right: 90px;
    top: 0;
}

.about-us-destra>h4{
color: #9593e6;
font-size: 2rem;
padding: 10px 0 20px 0;

}

.bt-about{
    background-color: #9593e6;
    border: none;
    border-radius: 20px;
   padding: 10px 15px;
}

.bt-about>a{
    color: white;
}




/* media about-us */

@media screen and (min-width:768px) {
    .cont-abou{
        display: flex;
    }

    .about-us-sinistra {
        width: 60%;
    }
    .about-us-destra{
        width: 40%;
        height: 15px;
        padding-left: 20px;
    }

    .about-us-destra>h4{
        font-size: 1.7rem;
       
        
    }

    

    .ft-about>i{
        font-size: 3rem;
        right: 60px;
        top: 0;
    }

}


@media screen and (min-width: 992px){
    .about-us-destra{
        width: 30%;
        padding-top: 50px;
    }

    .about-us-sinistra{
        width: 70%;
    }

    .about-us-sinistra>p{
       
        padding-right: 20px;
        font-size: 0.8rem;
       
    }

    .about-us-destra>h4{
        font-size: 1.3rem;
       
        
    }
    .bt-about{
       padding: 7px 10px;
    }
}



/* /sezione About-Us */

/* <!-- sezione Get-starred --> */
#get{
    background-color: #9593e6;
    padding: 20px 0;
}

.cont-starred {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.cont-starred>h6 {
   padding: 40px 0 20px 0;
    font-size: 1.3rem;
    font-weight: 100;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cont-starred>h4 {
   color: white;
   font-size: 2rem;
   font-weight: 900;
   padding-bottom: 20px;
}

.cont-starred>h3 {
  color: orange;
  font-size: 4rem;
    padding-bottom: 20px;
}

.cont-starred>p {
    color: white;
    line-height: 2rem;  
    padding-bottom: 20px;  
}

.get-bt{
    background-color: white;
    padding: 15px 50px;
    border: none;
    border-radius: 30px;
}

.get-bt>a{
    color: #9593e6;
    font-size: 1.2rem;
    padding: 20px;
}


.copi {
padding-top: 30px;
padding-bottom: 50px;
color: white;
}

.fa-circle{
    font-size: 0.2rem;
    position: relative;
    top: -2px;
    left: -2px;
    padding: 2px;
}

.sottolineato{
    text-decoration: underline;
}


/* media sezione get starred */

@media screen and (min-width:768px) {
    .cont-starred{
        width: 70%;
      
    }
}

@media screen and (min-width: 992px) {
    .cont-starred{
        width: 40%;
       
    }
}
/* <!-- /sezione Get-starred --> */
/* /media sezione get starred */
/* /main */



/* footer */
.footer {
    background-color: black;
   
}

.cont-footer {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

.cont-footer>p {
    color:rgb(235, 227, 227);
    padding-top: 20px;
    padding-bottom: 20px;
    font-size: 0.9rem;
      
}

.cont-footer>p a{
    text-decoration: underline;
}


/* media footer */

@media screen and (min-width:768px) {
    .cont-footer{
        width: 50%;
    }
}

@media screen and (min-width: 992px) {
    .cont-footer{
        width: 40%;
        font-size: 0.7rem;
       
    }

    .cont-footer>p {
        color: rgb(235, 227, 227);
        font-size: 0.7rem;
          
    }
}



/* /media footer */
/* /footer */